body {
  background-color: #34526f;
  font-family: Arial;
}

h1 {
  text-align: center;
  font-size: 38px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: rgba(255, 255, 255, 0.673);
  padding: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 5px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed #34526f;
}
.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #34526f;
}
